exclude .pylintrc
exclude Dockerfile
exclude Jenkinsfile
exclude Makefile
exclude README.md
exclude dev-requirements.txt
exclude passenger_wsgi.py
include migrate.bash
include manage.py
include requirements.txt
exclude kahlua/settings/dev.py
graft home
graft kahlua
graft search
prune tests
prune etc
prune screenshots
global-exclude __pycache__
global-exclude *.py[co]
