{% load wagtailcore_tags static %}
<div class="blogfooter">
    {% if include_context != "index_page" %}
        <div class="prevnext">
            {% if blog.get_prev_sibling is not None %}
            <a href="{{ blog.get_prev_sibling.url }}" class="prev">« Previous post</a>
            {% if blog.get_next_sibling is not None %} | {% endif %}
            {% endif %}
            {% if blog.get_next_sibling is not None %}
            <a href="{{ blog.get_next_sibling.url }}" class="next">Next post »</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="meta">
        {% if blog.categories.all %}
            Posted in
                {% for cat in blog.categories.all %}
                <a href="/blog/category/{{ cat.category.slug }}">{{ cat.category.name }}</a>{% if not forloop.last %}| {% endif %}
                {% endfor %}
        {% endif %}
        {% if blog.categories.all and blog.tags.all %} with {% endif %}
        {% if blog.tags.all %}
            tags:
                {% for tag in blog.tags.all %}
                    <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
        {% endif %}
        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'blog/blog_post_comments_xtd_link.html' with blog=blog %}
        {% elif False %}
            <a href="{% pageurl blog %}#disqus_thread">No Comments</a>
        {% endif %}
        </div>
    </div>
</div>
